.page-int{
.contact {
padding-bottom:71px;
  background: #fff;
  .body {
    text-align: justify;
    .contact-form{
    margin:auto;
    max-width:1100px;
    display:block;
      h3 {
        font-family: $rbo;
        font-size: 30px;
        color: #222222;
        margin: 0 0 40px 0;
        position: relative;
      }
      .coordonnee{
        margin-top:30px;
          .icon {
    float: left;
    margin-right: 10px;

    .fa {
      color: #e32239;
    }

    &.icon1 {
  margin-bottom:100px;
    }
  }
  p {
          font-family: $rr;
          font-size: 18px;
          color: #747474;
        }
      }
      .contact-box{
      background-color: #f9f8f8;
      padding: 30px;
      margin-bottom:72px;
      p {
        font-size: 24px;
        font-family:$rm;
        color: #3e3e3e;
      }
      input[type='text'],
      input[type='email'],
      input[type='password'],
      select,
      textarea{
        background-color: transparent;
        border-width: 1px;
        border-color: rgb(207, 207, 207);
        border-style: solid;
        border-radius: 0;
        height: 51px;
        font-size:16px;
        color:#a7a7a7;
        font-family: $rr;
        margin-bottom: 0;
        padding-left:25px;
      


      &:focus{
        border-color: #ccc;
      }
    }
      textarea{
        height: 200px;
      }
    label {
     color:#747474;
      font-size:16px;
        font-family: $rm;
        .red{
          color: #e32239;
          font-size: 30px;
          display: inline-block;
          margin-left: 10px;
        }
    }
    .custom-file-label::after {
        content: "Chercher";
    }
    .textarea-grp{
      textarea{
        height :135px;
        padding-top:20px;
      }
    }
    .btn-red{
      float:right;
      
    }     
    .required{
      color: #a7a7a7;
      font-size: 13px;
      margin-bottom: 20px;
      display: block;
      margin-top: 5px;
      text-transform:uppercase;
    }
    }
}
  }
}

}


@media screen and (max-width: 768px) {
.page-int .contact .body .contact-form {
    padding: 35px 20px;
}
.page-int .contact .body .contact-form .contact-box h3 {
    font-size: 24px;
    margin: 0 0 45px 0;
}
  .page-int .contact .body .contact-form .contact-box label {
    font-size: 18px;
  }
}

@media screen and (max-width:479px) {
.page-int .contact .body .contact-form .coordonnee p {
    font-family: "ralewayregular";
    font-size: 16px;
    color: #747474
    }
    .page-int .contact .body .contact-form h3 {
    font-family: "ralewaybold";
    font-size: 24px;
    color: #222222;
    margin: 0 0 40px 0;
    position: relative;
    }
.page-int .contact .body .contact-form {
    padding: 35px 20px;
}
.page-int .contact .body .contact-form .contact-box label {
    font-size: 15px;
}
.page-int .contact .body .contact-form .contact-box label .red {
    font-size: 30px;
}
.page-int .contact .body .contact-form .contact-box h3 {
    font-size: 19px;
}
.page-int .contact .body .contact-form .contact-box input[type='text'], .page-int .contact .body .contact-form .contact-box input[type='email'], .page-int .contact .body .contact-form .contact-box input[type='password'], .page-int .contact .body .contact-form .contact-box select, .page-int .contact .body .contact-form .contact-box textarea {
    height: 41px;
    font-size: 14px;
    padding-left: 15px;
}
}